body {
	background: #1C1D1E none;
	color: #dddddd;
}
#content {
	border-bottom: 1px solid rgba(35,36,37,1.0);
}
.message { 
	background-color: rgb(25,26,27);
	border: 1px solid #292a2b;
}
#input {
	background: rgb(25,26,27);
	color: #dddddd;
}
