body {
	background: transparent;
}
#content {
	background: #EEF2FF url("fade-blue.png") top center repeat-x;
	border-bottom: 1px solid #CCC; 
	height: calc(100vh - 160px);
}
.message { 
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9;
}
#shitpostpics {
	display: block;
}
