body {
	background: #073642 none;
	color: #93a1a1;
}
#content {
	border-bottom: 1px solid #0d272e;
}
.message { 
	background-color: #032b36;
	border: 1px solid #133942;
}
#input {
	background: #073642;
	color: #93a1a1;
}
