body {
	background: #1d1f21 none;
	color: white;
}
#content {
	border-bottom: 1px solid #313438;
}
.message { 
	background-color: #282a2e;
	border: 1px solid #282a2e;
}
#input {
	background: #282a2e;
	color: white;
}
